<!DOCTYPE html>
<HEAD>
    <link rel="stylesheet" href="/static/style.css">
<TITLE></TITLE>
<body>
    <h2>SN Compliance Prediction System</h2>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action='/predict' method="post">
                <h3>Enter the Description</h3>
                <input id="Description" name="message" placeholder="Enter the Description" type="text"  class="ip3">
                <button margin-top: 15px>Predict </button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h3 >Prediction Results</h3>
                    <p style="color:#ffffff" > {{pred}}</p>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <p>
            Created  <i class="fa fa-heart"></i> by 
            <a target="_blank" href="https://www.linkedin.com/in/stanley-george007/">Stanley George</a>
        </p>
    </footer>
</body>
</HEAD>
</HTML>

